@charset "UTF-8";.popup-point-flow .content .bgbtn-box button {
    width: 100%
}

.popup-point-flow .content .tip {
    text-align: right
}

.memo-button .pointFlow {
    word-break: break-all
}

.text-center {
    text-align: center!important
}

.title-border {
    margin-top: 0!important;
    border-top: 3.4vw solid var(--bgColor08)
}

.full-table table.point {
    width: 100vw
}

.full-table table.point tbody tr th,.full-table table.point tbody tr td {
    position: relative;
    text-align: left;
    padding: 1.4vw;
    font-size: .81rem;
    border-bottom: 1px solid var(--borderColor09);
    color: var(--txtColor19);
    vertical-align: middle
}

.full-table table.point tbody tr th {
    font-weight: 600;
    background: var(--bgColor06);
    padding: 2.4vw;
    text-align: center
}

.full-table table.point tbody tr td input,.full-table table.point tbody tr td textarea {
    width: 100%;
    border: 1px solid var(--borderColor05);
    padding: 2vw;
    line-height: 1.6;
    font-size: .86rem;
    font-family: Microsoft JhengHei,sans-serif
}

.full-table table.point tbody tr td p {
    margin-bottom: 1vw
}

button {
    width: 100%;
    padding: 2vw;
    margin-bottom: 1vw
}
.btn-box>button {
    width: unset;
    padding: 0;
    margin-bottom: 0;
}

button.reset-button {
    background: var(--btnColor05);
    color: var(--txtColor01)
}

button.confirm-button {
    color: var(--txtColor01);
    background: var(--bgColor35)
}

.amount-btnbox button.amount-button {
    width: 49%;
    margin-bottom: 1vw
}

.exchange-table table thead tr th {
    line-height: 1.2;
    font-size: .65rem
}

.exchange-table table tbody tr td {
    padding: 1.4vw;
    width: 20vw;
    min-width: 20vw
}

.exchange-table table tbody tr td:first-child {
    width: 25vw;
    min-width: 25vw
}

.exchange-table table tbody tr td:nth-child(4) {
    width: 15vw;
    min-width: 15vw
}

.exchange-table table tbody tr td span.txt {
    width: 58%;
    max-width: 58%;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    text-align: left
}

.content-table table tbody tr:nth-child(2n) {
    background: var(--bgColor01)
}

.content-table table tbody tr:nth-child(odd) {
    background: var(--bgColor12)
}

.popup-point-flow .content table thead tr th {
    padding: 5px
}

.popup-point-flow .content table tbody tr td.point {
    font-size: .72rem
}

.popup-point-flow .content .bgbtn-box {
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.popup-point-flow .content .bgbtn-box button {
    font-size: .875rem;
    margin-top: 4vw
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
    .full-table table.point tbody tr th,.full-table table.point tbody tr td,.full-table table.point tbody tr td input,.full-table table.point tbody tr td textarea {
        font-size:1.6rem
    }
}

@media only screen and (min-width: 1024px) and (max-height: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) {
    .full-table table.point tbody tr th,.full-table table.point tbody tr td,.full-table table.point tbody tr td input,.full-table table.point tbody tr td textarea {
        font-size:2.4rem
    }
}
